:root {
  --font-size-mobile-sm: 0.35rem;
  --font-size-mobile-md: 0.5rem;
  --font-size-mobile-lg: 1rem;
}

h1 {
  font-size: var(--font-size-mobile-lg);
}

h2 {
  font-size: var(--font-size-mobile-md);
}

form,
label,
input {
  width: 100%;
  font-size: var(--font-size-mobile-sm);
}

label {
  margin: 0;
}

.book-prop {
  font-size: var(--font-size-mobile-sm);
  text-align: left;
}

.book-btn {
  font-size: var(--font-size-mobile-sm);
  margin: 0;
  padding: 0 0.2rem 0 0;
  background: none;
  border: none;
}

.book-status-container {
  font-size: var(--font-size-mobile-sm);
}

.bookinfo-container {
  font-size: var(--font-size-mobile-sm);
}

.percentage-circle {
  margin: auto;
}

#categories {
  width: 100%;
}

#root: {
  width: 100%;
}

@media screen and (min-device-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
    text-align: left;
  }

  label,
  input {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .dropdown {
    margin: 0;
    padding: 0;
  }

  .dropdown-menu {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .submit-btn {
    font-size: 1rem;
  }

  .book-prop {
    font-size: 1rem;
  }

  .book-btn {
    font-size: 1rem;
  }

  .bookinfo-container {
    font-size: 1rem;
  }

  .bookstatus-big-container {
    font-size: 1rem;
    margin: auto;
  }

  .book-status-container {
    font-size: 1rem;
  }

  #categories {
    font-size: 1rem;
  }
}

@media screen and (min-device-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    margin: 0;
    font-size: 2rem;
  }

  label,
  input {
    font-size: 2rem;
  }

  .book-prop {
    font-size: 2rem;
  }
 
  .book-btn {
    font-size: 1.5rem;
  }

  .bookinfo-container {
    margin: auto;
    height: 100%;
    border-left: solid gray 1px;
  }

  .bookinfo-container div {
    margin: auto;
  }

  #categories {
    font-size: 2rem;
  }
}
